

/* // Manasa Mohan kumar (1001869268)
// K S Pavan Krishna (1001935714)
// Nishank Girish Gujar (1001861756) */


/* Developed by Manasa Mohan Kumar */

  .footer-start p {
    font-weight: 500;
    line-height: 2.83;
  }
  
  .footer-end {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .footer-end li {
    margin-right: 20px;
  }
  
  .footer-end li:last-child {
    margin-right: 0;
  }
 
 .footer a {
    font-weight: 500;
    line-height: 2.83;
    border-bottom: 1px transparent dashed;
    color: white;
  }
  
  .footer a:hover {
    color: var(--color-primary);
    border-color:var(--color-primary);
  }

  @media (max-width: 575.98px) {
    .footer {
      position: relative;
    }
    .footer--flex {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      text-align: center;
    }
  }
  
  @media (max-width: 480.98px) {
    .footer-start p {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
    }
  }

  @media (max-width: 575.98px) {
    .footer {
      position: relative;
    }
}