/* // Manasa Mohan kumar (1001869268)
// K S Pavan Krishna (1001935714)
// Nishank Girish Gujar (1001861756) */


/* Developed by Manasa Mohan Kumar */
.news-feed{
margin:90px;
color: rgb(94, 93, 97);
font-size: 25px;
}