/* // Manasa Mohan kumar (1001869268)
// K S Pavan Krishna (1001935714)
// Nishank Girish Gujar (1001861756) */


/* Developed by K S Pavan Krishna */
.main-nav {
  padding-top: 10px;
  padding-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.main-nav a:focus {
  outline: none;
}

.main-nav--bg {
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
  background-color: var(--color-secondary);
}

.main-nav-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-nav-end>* {
  margin-right: 15px;
}


.main-nav-end>*:last-child {
  margin-right: 0;
}





.main-nav .nav-user-wrapper {
  position: relative;
}

.main-nav .nav-user-wrapper .users-item-dropdown {
  width: 171px;
  right: 0;
}

.main-nav .nav-user-wrapper .users-item-dropdown svg {
  margin-right: 13px;
}

.main-nav .nav-user-wrapper .users-item-dropdown a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-nav .nav-user-wrapper .users-item-dropdown a.danger {
  color: #f26464;
}

.main-nav .nav-user-img {
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
  width: 50px;
  height: 50px;
  background-color: #F5EFFF;
}

.main-nav .nav-user-img picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

@media (max-width: 767.98px) {
  .main-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .main-nav-start {
    width: 100%;
  }

  .main-nav-start input {
    width: 100%;
  }

  .main-nav-end {
    margin-bottom: 20px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
  }
}

@media (max-width: 1199.98px) {

  .main-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }
}

@media (min-width: 1200px) {
  .main-nav .sidebar-toggle {
    display: none;
  }
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: #2980B9;
}


  /* responsiveness for phone */
@media only screen and (max-width:480px) {
  .main-nav--bg .container {
    padding-left: 0px;
}
.main-nav-end {
  margin-bottom: 10px;
}
.dashboard .col-xl-3 {
  width: 265px;
}
}